<% for column in Kontrahent.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @kontrahent.send(column.name) %>
</p>
<% end %>

<%= link_to 'Zmień',:action => 'edit', :id => @kontrahent %> |
<%= link_to 'Wróć', :action => 'index' %>
